<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src="<%= "/user_images/#{@user.image_name}" %>">
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <% end %>
    </div>
    
   
    <ul class="user-tabs">
      <li><%= link_to("主催", "/users/#{@user.id}") %></li>
      <li><%= link_to("予定", "/users/#{@user.id}/joins") %></li>
      <li><%= link_to("履歴", "/users/#{@user.id}/joined") %></li>
    </ul>


    <% @joins.each do |join| %>
      <% event = @past_event.find_by(id: join.event_id) %>
      
      <div class="events-index-item">
        <div class="event-left">

        </div>
        <div class="event-right">
          <div class="event-user-name">
            <%= link_to(event.event_name, "/events/#{event.id}") %>
          </div>
          <%= event.content %>
        </div>
      </div>
    <% end %>
  </div>
</div>
