<div class="main users-new">
  <div class="container">
    <div class="form-heading">新規ユーザー登録</div>
    <div class="form users-form">
      <div class="form-body">
      
      

        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
      
      <%= form_tag("/users/create") do %>
        <p>ニックネーム（必須）</p>
        <input name="name" value="<%= @user.name %>">  
        <p>メールアドレス</p>
        <input name="email" value="<%= @user.email %>">
        <p>パスワード(必須)</p>
        <input name="password" type="password" value="<%= @user.password_digest %>">
        <p>自己紹介</p>
        <textarea name="introduction" value="<%= @user.introduction %>" ></textarea>
        <input type="submit" value="新規登録">
      <% end %>
      </div>
    </div>
  </div>
</div>