<div class="main user-show">
  <div class="container">
    <div class="user">

    <p>
      <img src="<%= "/user_images/#{@user.image_name}"%>" style="float:left;">
      <h2 class="proname"><%= @user.name %></h2>
      <p class="proint"> <%=  simple_format(@user.introduction) %></p>
    </p>  

    <p align="right">
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <% end %>
    </p>
    </div>

    
    <ul class="user-tabs">
      <li class="active"><%= link_to("主催", "/users/#{@user.id}") %></li>
      <li><%= link_to("参加予定", "/users/#{@user.id}/joins") %></li>

    </ul>

    
    
        <% @user.events.each do |event| %>
            <div class="events-index-item">
        <div class="event-left">
          <img src="<%= "/event_images/#{event.event_image}" %>">
        </div>
        <div class="event-right">
          <div class="event-user-name">
            <%= link_to(event.user.name, "/users/#{event.user.id}") %>
          </div>
          <%= link_to(event.content, "/events/#{event.id}") %>
        </div>
      </div>
    <% end %>

    
  </div>
</div>