<div class="main events-new">
  <div class="container">
    <h1 class="form-heading">内容修正</h1>
    <%= form_tag("/events/#{@event.id}/update", {multipart: true}) do %>
    <div class="form">
      <div class="form-body">
        
        <% @event.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
          <p>イベント名</p>
          <input name="event_name" value="<%= @event.event_name %>" >
          <p>開催予定日(yyyymmdd)</p>
          <input name="date" value="<%= @event.date %>">
          <p>画像</p>
          <input name="image" type="file">
          <p>詳細</p>
          <textarea name="content"><%= @event.content %></textarea>
        <input type="submit" value="確定">
      </div>
    </div>
    <% end %>
  </div>
</div>