<div class="main events-show">
  <div class="container">
    <div class="events-show-item">

      <div class="event-user-name">
        <img src="<%= "/event_images/#{@event.event_image}" %>">
          <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>

      <p>
        <%= @event.event_name %>
      </p>
      <p>
        <%= @event.content %>
      </p>
      <div class="event-time">
        日程:<%= @event.date %>
      </div>
      
      <% if Join.find_by(user_id: @current_user.id, event_id: @event.id) %>
         <%= link_to("キャンセル", "/joins/#{@event.id}/destroy", {method: "post", class: 'btn'})%></br>
      <% else %>
        <%=link_to("申し込む", "/joins/#{@event.id}/create", {method: "post", class: 'btn'})%></br>
      <% end %>

    <% @reserves.each do |reserve| %>
      <%= reserve.user.name  %>
      <img src="<%= "/user_images/#{reserve.user.image_name}" %>">
    <% end %>
      
      <% if @event.user_id == @current_user.id %>
      <div class="events-menus">
        <%= link_to("修正", "/events/#{@event.id}/edit") %>
        <%= link_to("中止", "/events/#{@event.id}/destroy", {method: "post"}) %>
      </div>
      <% end %>
    </div>
  </div>
</div>