<div class="main events-show">
  <div class="container">
    <div class="events-show-item">
      <p>
        <%= @event.event_name %>
      </p>
      <p>
        <%= @event.content %>
      </p>
      <div class="event-time">
        日程:<%= @event.date %>
      </div>
      <div class="events-menus">
        <%= link_to("修正", "/events/#{@event.id}/edit") %>
        <%= link_to("中止", "/events/#{@event.id}/destroy", {method: "post"}) %>
      </div>
    </div>
  </div>
</div>